<div class="paginator">
    <ul class="paginator__list">
        <li
            class="paginator__item"
            ng-class="{ 'paginator__item--disabled': $ctrl.pager.currentPage === 1 }">
            <a
                class="paginator__link"
                ng-click="$ctrl.onItemclicked($event, $ctrl.pager.currentPage - 1)"> < </a>
        </li>
        <li
            class="paginator__item"
            ng-repeat="page in $ctrl.pager.pages"
            ng-class="{ 'paginator__item--active': $ctrl.pager.currentPage === page }">
            <a
                class="paginator__link"
                ng-click="$ctrl.onItemclicked($event, page)">{{ page }}</a>
        </li>
        <li
            class="paginator__item"
            ng-class="{ 'paginator__item--disabled': $ctrl.pager.currentPage === $ctrl.pager.totalPages }">
            <a
                class="paginator__link"
                ng-click="$ctrl.onItemclicked($event, $ctrl.pager.currentPage + 1)"> > </a>
        </li>
    </ul>
</div>
