paginator {
  display: block;
}

.paginator {
  display: flex;
  width: 100%;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    display: block;
    margin: 0 5px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    color: #005ea8;
    cursor: pointer;

    &--disabled {
      background-color: #dcdcdc;
      color: #fff;
      cursor: default;
    }

    &--active, &:hover:not(&--disabled) {
      background-color: #005ea8;
      color: #fff;
    }
  }

  &__link {
    width: 30px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    display: block;
    text-decoration: none;
  }
}
