<svg
    class="svg-scope"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 512.001 512.001">
    <g>
        <g>
            <path d="M316,0c-24.646,0-46.34,12.068-60.015,30.443C242.304,12.078,220.617,0,196,0c-8.291,0-15,6.709-15,15s6.709,15,15,15
                c24.814,0,45,22.186,45,47v77.699v0.064c4.717-1.681,9.716-2.763,15-2.763s10.283,1.082,15,2.763v-0.064V77
                c0-24.901,20.098-47,45-47c8.401,0,15-6.599,15-15S324.401,0,316,0z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M497,32c-92.402,0-172.899,56.1-207.1,135.899c7.2,7.8,11.1,18.001,11.1,29.101v45h111.497
                c18.3,0,34.017-13.081,37.28-31.086c0.007-0.038,0.015-0.077,0.022-0.115C484.6,204.2,512,173.599,512,137V47
                C512,38.599,505.401,32,497,32z M376,212c-8.284,0-15-6.716-15-15c0-8.286,6.716-15,15-15s15,6.714,15,15
                C391,205.284,384.284,212,376,212z M406,152c-8.284,0-15-6.716-15-15c0-8.286,6.716-15,15-15s15,6.714,15,15
                C421,145.284,414.284,152,406,152z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M376,332c-8.262,0-15,6.724-15,15s6.738,15,15,15c8.262,0,15-6.724,15-15S384.262,332,376,332z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M481,341.3c-0.007-0.108-0.015-0.216-0.018-0.324C478.686,302.174,446.605,272,407.736,272H301v105
                c0,19.499-12.598,36.299-30,42.299V467c0,24.899,20.098,45,45,45c24.902,0,45-20.101,45-45c0-8.401,6.599-15,15-15
                c29.099,0,56.1-11.7,76.201-32.701C472.299,398.299,482.501,370.399,481,341.3z M376,392c-24.814,0-45-20.186-45-45
                c0-24.814,20.186-45,45-45c24.814,0,45,20.186,45,45C421,371.814,400.814,392,376,392z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M256,182c-8.262,0-15,6.724-15,15v180c0,8.276,6.738,15,15,15c8.262,0,15-6.724,15-15V197
                C271,188.724,264.262,182,256,182z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M15,32C6.599,32,0,38.599,0,47v90c0,36.599,27.4,67.2,62.201,73.799c0.007,0.033,0.015,0.068,0.018,0.101
                c3.34,18.067,19.054,31.1,37.427,31.1H211v-45c0-11.4,4.2-21.601,11.4-29.401C187.899,87.8,107.402,32,15,32z M106,152
                c-8.284,0-15-6.716-15-15c0-8.286,6.716-15,15-15s15,6.714,15,15C121,145.284,114.284,152,106,152z M136,212
                c-8.284,0-15-6.716-15-15c0-8.286,6.716-15,15-15s15,6.714,15,15C151,205.284,144.284,212,136,212z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M211,377V272H104.356c-38.837,0-71.005,30.223-73.337,68.99c-0.007,0.103-0.011,0.207-0.018,0.309
                c-1.501,29.099,8.701,56.999,28.799,77.999C79.9,440.3,106.901,452,136,452c8.401,0,15,6.599,15,15c0,24.899,20.098,45,45,45
                c24.902,0,45-20.101,45-45v-47.701C223.598,413.299,211,396.499,211,377z M136,392c-24.814,0-45-20.186-45-45
                c0-24.814,20.186-45,45-45c24.814,0,45,20.186,45,45C181,371.814,160.814,392,136,392z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M136,332c-8.262,0-15,6.724-15,15s6.738,15,15,15s15-6.724,15-15S144.262,332,136,332z"/>
        </g>
    </g>
</svg>