<div class="step-slide">
    <div class="step-slide__header">
        <div class="step-slide__step">
            <div class="step-slide__step-icon">
                <circle-one-icon></circle-one-icon>
            </div>
        </div>
        <div class="step-slide__step-headline">ut labore</div>
    </div>
    <div class="step-slide__icon-container">
        <div
            class="step-slide__content-icon"
            tooltips
            tooltip-template="tooltip">
            <contract-icon></contract-icon>
        </div>
    </div>
    <div class="step-slide__text">
        Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
    </div>
</div>