<svg
    class="svg-scope"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 511.999 511.999">
    <g>
        <g>
            <path d="M271,119.999c-41.367,0-75,33.647-75,75c0,41.353,33.633,75,75,75s75-33.647,75-75
			C346,153.646,312.367,119.999,271,119.999z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M461.606,184.394c-12.979-12.964-28.652-22.529-45.85-28.184c12.07-13.491,20.859-29.619,25.605-47.314
			c2.155-7.872-2.521-16.232-10.576-18.384c-17.725-4.746-36.094-5.186-53.818-1.494c3.691-17.71,3.252-36.079-1.465-53.789
			c-2.081-7.789-10.127-12.782-18.398-10.605c-17.695,4.746-33.809,13.55-47.314,25.605c-5.654-17.197-15.234-32.886-28.184-45.835
			c-5.859-5.859-15.352-5.859-21.211,0c-12.949,12.949-22.529,28.638-28.184,45.835c-13.506-12.056-29.619-20.859-47.314-25.605
			c-8.122-2.153-16.284,2.692-18.398,10.605c-4.717,17.71-5.156,36.079-1.465,53.789c-17.695-3.721-36.094-3.252-53.818,1.494
			c-8.055,2.152-12.731,10.512-10.576,18.384c4.746,17.695,13.535,33.823,25.605,47.314c-17.197,5.654-32.871,15.22-45.85,28.184
			c-5.856,5.856-5.856,15.355,0,21.211c12.979,12.964,28.652,22.529,45.85,28.184c-12.07,13.491-20.859,29.619-25.605,47.314
			c-2.155,7.872,2.521,16.232,10.576,18.384c17.725,4.761,36.123,5.156,53.818,1.494c-3.691,17.71-3.252,36.079,1.465,53.789
			c2.114,7.914,10.277,12.759,18.398,10.605c17.695-4.746,33.809-13.55,47.314-25.605c5.654,17.197,15.234,32.886,28.184,45.835
			c5.86,5.86,15.351,5.86,21.211,0c12.949-12.949,22.529-28.638,28.184-45.835c13.505,12.055,29.618,20.859,47.314,25.605
			c8.271,2.177,16.317-2.817,18.398-10.605c4.717-17.71,5.156-36.079,1.465-53.789c17.725,3.691,36.094,3.267,53.818-1.494
			c8.055-2.152,12.731-10.512,10.576-18.384c-4.746-17.695-13.535-33.823-25.605-47.314c17.197-5.654,32.871-15.22,45.85-28.184
			C467.462,199.749,467.462,190.25,461.606,184.394z M271,299.999c-57.891,0-105-47.109-105-105s47.109-105,105-105
			s105,47.109,105,105S328.891,299.999,271,299.999z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M220.404,385.788c-17.609,8.863-35.633,12.687-56.457,18.262c-8.099,2.168-16.539-2.478-18.699-10.579
			c-5.629-21.11-11.256-38.358-12.442-58.279c-17.263-0.994-27.415-4.211-43.978-8.65C62.216,355.995,46,394.702,46,436.999v60
			c0,8.284,6.716,15,15,15h60c59.517,0,111.764-32.333,140.72-81.097C252.303,423.435,230.438,401.033,220.404,385.788z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M441.416,329.686c-10.798,2.887-19.535,4.776-32.223,5.506c-1.185,19.933-6.817,37.188-12.451,58.315
			c-2.087,7.842-10.137,12.778-18.398,10.62c-20.947-5.618-39.057-9.436-56.748-18.34c-10.842,16.467-22.869,27.129-37.756,42.006
			c24.697,33.131,63.368,54.206,107.16,54.206h60c8.284,0,15-6.716,15-15v-60C466,378.272,456.812,351.727,441.416,329.686z"/>
        </g>
    </g>
</svg>