.step-slide {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #444;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;

    &__header {
        display: flex;
    }

    &__step-icon {
        height: 25px;
        width: 25px;
        fill: green;
    }

    &__step-headline {
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
        padding-left: 10px;
    }

    &__icon-container {
        height: 100px;
        width: 100%;
        padding: 20px 0;
        box-sizing: border-box;
    }

    &__content-icon {
        width: 36px;
        height: 50px;
        text-align: center;
        margin: 0 auto;
        fill: green;
    }

    &__highlighted {
        font-weight: bold;
    }

    &__list {
        padding: 0 0 0 5px;
        margin: 0;
    }

    &__list-item {
        margin-bottom: 5px;
    }
}