content-slider {
    display: block;
}

.content-slider {
    &__slides {
        display: flex;
        width: 100%;
        overflow: hidden;
        position: relative;
        min-height: 195px;
        margin-bottom: 10px;
    }

    &__title {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: green;
        margin: 0 0 20px;
    }
}

@media (max-width: 359px) {
    .content-slider {
        &__slider {
            min-height: 215px;
        }
    }
}