<div class="content-slider">
    <h1 class="content-slider__title" ng-if="::$ctrl.title">
        {{ ::$ctrl.title }}
    </h1>
    <div
        class="content-slider__slides"
        ng-transclude="slides">
    </div>
    <div
        class="content-slider__navigation"
        ng-transclude="navigation">
    </div>
</div>