cta-button {
  display: block;
}

.button-style() {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.cta-button {
    font-family: Arial, sans-serif;
    @include button-reset;

    &--primary {
      padding: 10px;
      background-color: skyblue;
      color: #fff;

      &:hover {
        background-color: blue;
      }
    }

    &--gray {
      padding: 10px;
      background-color: #ccc;

      &:hover {
        background-color: #ededed;
      }
    }
}
