<svg
    class="svg-scope"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 511.999 511.999">
    <g>
        <g>
            <path d="M170.696,318.697c-18.595,6.899-41.093,12.298-65.694,12.298c-12.296,0-24-1.5-35.096-3.9
			c-6.302,15.6-9.901,31.798-9.901,48.897c0,8.401,6.599,14.999,14.999,14.999c40.201,0,76.196-17.7,101.094-45.598
			c0-0.3,0-0.3,0-0.3C174.9,336.094,173.099,327.395,170.696,318.697z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M75.004,121.007c-8.401,0.001-14.999,6.6-14.999,15c0,17.099,3.6,33.298,9.901,48.897c11.095-2.401,22.799-3.9,35.096-3.9
			c24.6,0,47.099,5.4,65.694,12.298c2.402-8.698,4.204-17.698,5.402-26.697C151.2,138.707,115.204,121.007,75.004,121.007z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M147.897,249.401c5.219-10.211,9.425-17.818,13.201-27.9c-15.896-5.7-35.099-10.498-56.096-10.498
			c-53.998,0-97.194,31.498-98.995,32.997c-8.01,5.552-8.01,18.448,0,24c1.802,1.5,44.997,32.997,98.995,32.997
			c20.998,0.001,40.201-4.798,56.096-10.497c-3.776-10.082-7.982-17.689-13.201-27.9C145.799,258.4,145.799,253.599,147.897,249.401
			z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M328.406,490.276c-34.125-68.234-35.073-150.074-3.548-219.277h-139.73c31.525,69.204,30.577,151.044-3.549,219.277
			c-5.029,10.121,2.399,21.708,13.417,21.708h119.992C326.007,511.984,333.435,500.397,328.406,490.276z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M314.989,0.016H194.996c-5.186,0-10.019,2.695-12.772,7.119c-2.725,4.409-2.959,9.931-0.645,14.589
			c34.125,68.234,35.074,150.074,3.549,219.277h139.73c-31.779-69.762-30.856-150.486,3.549-219.277
			C333.435,11.602,326.007,0.016,314.989,0.016z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M496.978,121.008H376.986c-11.927,0-19.138,13.363-12.479,23.319c31.637,47.456,32.663,108.058,3.771,156.67h137.408
			c-28.892-48.612-27.867-109.214,3.772-156.67C516.115,134.371,508.906,121.008,496.978,121.008z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M509.457,488.665c-31.638-47.457-32.663-109.059-3.771-157.67H368.278c28.892,48.612,27.867,110.214-3.772,157.67
			c-6.658,9.955,0.552,23.319,12.479,23.319h119.992C508.905,511.984,516.115,498.621,509.457,488.665z"/>
        </g>
    </g>
</svg>
