<svg
        class="svg-scope"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 512.001 512.001">
    <g>
        <g>
            <path d="M256.002,16.135c-8.291,0-15,6.709-15,15v59.998c0,8.291,6.709,15,15,15c8.291,0,14.8-6.709,14.8-15V31.134
			C270.802,22.843,264.293,16.135,256.002,16.135z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M139.345,133.246l-42.45-42.421c-5.859-5.859-15.352-5.859-21.21,0c-5.859,5.859-5.859,15.366,0,21.21l42.45,42.421
			c5.86,5.86,15.351,5.86,21.211,0C145.204,148.597,145.204,139.09,139.345,133.246z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M436.319,90.825c-5.859-5.859-15.352-5.859-21.21,0l-42.45,42.421c-5.859,5.845-5.859,15.352,0,21.21
			c5.86,5.859,15.352,5.859,21.211,0l42.45-42.421C442.178,106.19,442.178,96.684,436.319,90.825z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M343.921,64.019c-7.559-3.208-16.436,0.322-19.657,7.954l-11.719,27.611c-3.253,7.632,0.322,16.435,7.939,19.672
			c7.564,3.2,16.435-0.29,19.657-7.954l11.719-27.611C355.112,76.06,351.538,67.256,343.921,64.019z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M199.461,99.584l-11.719-27.611c-3.223-7.632-12.07-11.162-19.657-7.954c-7.617,3.237-11.191,12.041-7.939,19.673
			l11.719,27.611c3.223,7.664,12.094,11.154,19.657,7.954C199.138,116.02,202.712,107.216,199.461,99.584z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M76.007,256.128H15.008c-8.291,0-15,6.709-15,15s6.709,15,15,15h60.998c8.291,0,15-6.709,15-15
			S84.297,256.128,76.007,256.128z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M496.996,256.128h-60.998c-8.291,0-15,6.709-15,15c0,8.291,6.709,15,15,15h60.998c8.291,0,15-6.709,15-15
			S505.287,256.128,496.996,256.128z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M464.621,186.843c-3.135-7.676-11.895-11.411-19.541-8.276l-27.802,11.235c-7.676,3.09-11.397,11.836-8.291,19.526
			c3.116,7.655,11.849,11.39,19.541,8.276l27.802-11.235C464.006,203.278,467.726,194.533,464.621,186.843z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M94.727,189.802l-27.802-11.235c-7.705-3.12-16.436,0.601-19.541,8.276c-3.105,7.69,0.615,16.435,8.291,19.526
			l27.802,11.235c7.692,3.114,16.425-0.622,19.541-8.276C106.123,201.638,102.403,192.892,94.727,189.802z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M502.416,461.377c-4.512-1.743-8.848-3.999-12.861-6.665c-32.401-21.576-75.236-21.605-107.638,0
			c-22.265,14.854-51.093,14.854-73.357,0c-32.372-21.576-74.207-21.605-106.638,0c-22.265,14.854-51.093,14.854-73.357,0
			c-32.431-21.605-75.266-21.576-107.638,0c-3.721,2.476-7.617,4.526-11.631,6.182c-7.646,3.149-11.309,11.909-8.174,19.57
			c3.193,7.69,11.982,11.382,19.6,8.174c5.83-2.388,12.484-5.376,17.846-8.965c22.265-14.854,51.093-14.854,73.357,0
			c32.431,21.605,74.266,21.576,106.638,0c22.265-14.854,51.093-14.854,73.357,0c32.371,21.57,74.235,21.592,106.638,0
			c22.265-14.854,52.093-14.854,74.357,0c5.83,3.882,12.1,7.148,18.661,9.683c7.676,2.944,16.406-0.82,19.395-8.569
			C513.987,473.051,510.151,464.365,502.416,461.377z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M502.416,401.379c-4.512-1.743-8.848-3.999-12.861-6.665c-32.401-21.576-75.236-21.605-107.638,0
			c-22.265,14.854-51.093,14.854-73.357,0c-32.372-21.576-74.207-21.605-106.638,0c-22.265,14.854-51.093,14.854-73.357,0
			c-32.431-21.605-75.266-21.576-107.638,0c-3.721,2.476-7.617,4.526-11.631,6.182c-7.646,3.149-11.309,11.909-8.174,19.57
			c3.193,7.69,11.982,11.382,19.6,8.174c5.83-2.388,12.484-5.376,17.846-8.965c22.265-14.854,51.093-14.854,73.357,0
			c32.431,21.62,74.266,21.562,106.638,0c22.265-14.854,51.093-14.854,73.357,0c32.371,21.57,74.235,21.592,106.638,0
			c22.265-14.854,52.093-14.854,74.357,0c5.83,3.882,12.1,7.148,18.661,9.683c7.676,2.944,16.406-0.82,19.395-8.569
			C513.987,413.052,510.151,404.367,502.416,401.379z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M502.416,341.38c-4.512-1.743-8.848-3.999-12.861-6.665c-32.401-21.576-75.236-21.605-107.638,0
			c-3.303,2.205-6.971,3.409-10.521,4.958c12.279-20.67,19.403-44.107,19.403-68.545c0-74.441-60.355-134.997-134.797-134.997
			s-134.997,60.555-134.997,134.997c0,24.81,7.507,48.626,20.157,69.527c-4.297-1.701-8.643-3.3-12.599-5.94
			c-32.431-21.605-75.266-21.576-107.638,0c-3.721,2.476-7.617,4.526-11.631,6.182c-7.646,3.149-11.309,11.909-8.174,19.57
			c3.193,7.69,11.982,11.367,19.599,8.174c5.83-2.388,12.484-5.376,17.846-8.965c22.265-14.854,51.093-14.854,73.357,0
			c32.792,21.846,75.216,20.941,106.638,0c22.265-14.854,51.093-14.854,73.357,0c31.904,21.257,73.821,21.868,106.638,0
			c22.265-14.854,52.093-14.854,74.357,0c5.83,3.882,12.1,7.148,18.661,9.683c7.676,2.959,16.406-0.82,19.395-8.569
			C513.987,353.054,510.151,344.368,502.416,341.38z"/>
        </g>
    </g>
</svg>

