.app {
    font-family: Arial, sans-serif;
}

.carousel {
    border: 1px solid #dcdcdc;
    background-color: #fff;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    width: 738px;
}
