<svg
    class="svg-scope"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 512 512">
    <g>
        <g>
            <path d="M422,15.92c-33.12,0-61.798,18.181-77.424,44.894c58.903,20.373,107.763,60.418,137.158,111.894
			C500.25,156.047,512,132.105,512,105.92C512,56.29,471.629,15.92,422,15.92z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M184.575,227.957c-25.493-9.315-52.924,13.792-62.813,40.986c-10.038,27.63-3.478,62.593,21.768,71.792
			c8.983,3.272,19.228,2.373,29.145-2.219c5.491-8.238,11.999-16.368,19.898-24.895c3.694-3.987,7.864-7.462,12.233-10.648
			C216.598,274.439,210.841,237.556,184.575,227.957z M166,315.92c-8.284,0-15-6.716-15-15c0-8.286,6.716-15,15-15s15,6.714,15,15
			C181,309.204,174.284,315.92,166,315.92z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M320.144,360.586c-0.017-0.035-0.031-0.07-0.05-0.107c-5.275-10.637-12.519-19.746-22.053-29.105
			c-21.27-20.903-63.369-19.072-83.438,2.637c-31.481,33.962-40.047,54.844-28.508,154.763c11.951,5.208,25.695,6.956,39.465,7.234
			c4.882,0.073,10.129,0.027,15.439-0.013v-68.864l-25.605-25.605c-2.813-2.813-4.395-6.621-4.395-10.605c0-24.814,20.186-45,45-45
			c24.814,0,45,20.186,45,45c0,3.984-1.582,7.793-4.395,10.605L271,427.131v68.899c2.573,0.024,5.151,0.051,7.705,0.051
			c17.496,0,33.865-1.23,47.657-7.429C333.694,420.517,332.659,385.908,320.144,360.586z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M241.937,385.662L256,399.709l14.062-14.048C265.785,374.293,246.215,374.293,241.937,385.662z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M386.342,268.942c-9.96-27.25-37.205-50.197-62.813-40.986c-24.689,9.02-31.139,42.048-22.372,69.152
			c6.486,3.572,12.629,7.668,17.919,12.865c10.258,10.074,18.261,20.173,24.507,31.106c7.28,1.789,14.482,2.018,20.991-0.344
			C387.865,332.253,397.65,300.041,386.342,268.942z M346,315.92c-8.284,0-15-6.716-15-15c0-8.286,6.716-15,15-15s15,6.714,15,15
			C361,309.204,354.284,315.92,346,315.92z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M256,75.92c-124.072,0-225,94.204-225,210c0,78.845,48.838,150.879,123.014,186.409
			c-4.503-44.804-4.34-75.159,2.672-99.75c-0.489,0.011-0.98,0.192-1.467,0.192c-7.471,0-14.854-1.274-21.943-3.838
			c-40.034-14.613-56.364-64.534-39.697-110.244c16.466-45.326,60.946-73.597,101.25-58.916
			c29.181,10.609,50.924,43.178,44.76,87.94c5.777-1.146,11.695-1.793,17.701-1.793c3.799,0,7.396,0.573,11.05,0.983
			c-5.668-43.898,15.62-76.475,44.936-87.131c40.032-14.62,84.621,13.322,101.25,58.901c16.963,46.655-0.85,96.108-39.697,110.244
			c-6.11,2.232-12.486,3.298-18.946,3.594c6.019,25.025,6.11,56.354,2.223,99.794C432.219,436.754,481,364.73,481,285.92
			C481,170.124,380.072,75.92,256,75.92z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M90,15.92c-49.629,0-90,40.371-90,90c0,26.184,11.75,50.127,30.266,66.788c29.395-51.476,78.255-91.521,137.158-111.894
			C151.798,34.1,123.12,15.92,90,15.92z"/>
        </g>
    </g>
</svg>