<div class="step-slide">
    <div class="step-slide__header">
        <div class="step-slide__step">
            <div class="step-slide__step-icon">
                <circle-three-icon></circle-three-icon>
            </div>
        </div>
        <div class="step-slide__step-headline">magna aliqua</div>
    </div>
    <div class="step-slide__icon-container">
        <div class="step-slide__content-icon">
            <certified-icon></certified-icon>
        </div>
    </div>
    <div class="step-slide__text">
        <ul class="step-slide__list">
            <li class="step-slide__list-item">Lorem ipsum dolor sit amet, consectetur adipisici elit</li>
            <li class="step-slide__list-item">sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</li>
        </ul>
    </div>
</div>