
<div class="posts_paginator" ng-if="$ctrl.posts.length">
    <paginator
        items-count="$ctrl.posts.length"
        current-page="$ctrl.currentPage"
        on-paginate="$ctrl.paginate(pager)">
    </paginator>
</div>

<div class="posts">
    <h1>Posts length: {{ $ctrl.posts.length }}</h1>
    <div class="posts__post" ng-repeat="post in $ctrl.postsItems">
        <h2>{{ ::post.title }}</h2>
        <p>{{ ::post.body }}</p>
    </div>
</div>
