<div class="step-slide">
    <div class="step-slide__header">
        <div class="step-slide__step">
            <div class="step-slide__step-icon">
                <circle-two-icon></circle-two-icon>
            </div>
        </div>
        <div class="step-slide__step-headline">sed eiusmod tempor incidunt</div>
    </div>
    <div class="step-slide__icon-container">
        <div class="step-slide__content-icon">
            <phone-icon></phone-icon>
        </div>
    </div>
    <div class="step-slide__text">
        Ferner gibt es auch niemanden, der den Schmerz um seiner selbst willen liebt, der ihn sucht und haben will, einfach, weil es Schmerz ist;
    </div>
</div>