<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg
    class="svg-scope"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 512 512">
    <g>
        <g>
            <path d="M486.688,297.128c-6.165,8.353-12.599,16.547-20.037,23.989c-43.736,43.742-107.024,65.872-167.337,77.161
                c19.239,9.824,40.128,15.344,61.252,15.344c34.6,0,69.17-13.154,95.479-39.463C476.853,353.351,487.385,325.263,486.688,297.128z"
                />
        </g>
    </g>
    <g>
        <g>
            <path d="M509.453,81.395c-2.695-16.436-14.297-29.824-30.264-34.966c-3.779-1.216-7.646-1.919-11.484-2.139
                c-0.205-3.838-0.908-7.69-2.139-11.484c-5.127-15.967-18.545-27.568-34.98-30.264c-25.955-4.252-65.64-3.726-106.608,5.87
                c-24.423,50.59-15.551,112.073,25.983,153.607c25.518,25.518,59.385,39.551,95.449,39.551c0.176,0,0.352,0,0.527,0
                c20.383-0.073,39.84-5.078,57.676-13.649C513.186,147,513.708,107.362,509.453,81.395z M389.162,78.497
                c-5.859,5.858-15.355,5.858-21.215,0c-5.858-5.859-5.858-15.355,0-21.215c5.859-5.858,15.355-5.858,21.215,0
                C395.019,63.142,395.019,72.637,389.162,78.497z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M137.852,55.965c-25.518,25.488-39.551,59.399-39.551,95.464c0,21.801,5.7,42.546,15.396,61.39
                c11.258-59.61,33.548-123.825,77.182-167.459c7.324-7.322,15.229-13.947,23.491-20.067
                C186.406,24.729,158.521,35.259,137.852,55.965z"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M445.438,299.903c21.552-21.557,36.497-48.23,46.948-75.901c-14.938,4.437-30.341,7.507-46.362,7.566
                c-0.204,0.003-0.409,0.003-0.614,0.003c-44.063,0-85.488-17.153-116.66-48.34c-44.214-44.203-58.211-106.992-41.446-163.336
                c-27.422,10.446-53.837,25.294-75.214,46.675c-71.636,71.625-85.778,214.059-85.597,274.297
                c-39.349-19.422-90.15-13.672-122.108,18.25c-7.276,7.308-5.169,19.49,3.896,24.023c51.855,25.928,94.688,68.745,120.586,120.571
                c4.592,9.123,16.772,11.148,24.023,3.896c33.016-33.029,38.925-82.582,18.671-122.062c0.43,0,0.754,0.011,1.192,0.011
                C233.983,385.556,374.569,370.772,445.438,299.903z M253.399,185.472l17.578-5.845c7.881-2.593,16.348,1.611,18.984,9.478
                c2.607,7.866-1.641,16.362-9.492,18.97l-17.578,5.859c-10.578,3.519-13.793,16.918-5.889,24.844l16.201,16.201
                c7.807,7.85,21.316,4.789,24.844-5.859l5.859-17.593c2.637-7.852,11.162-12.026,18.984-9.492
                c7.852,2.622,12.1,11.118,9.493,18.984l-5.859,17.593c-10.625,31.78-50.906,41.203-74.531,17.578l-16.201-16.201
                C212.168,236.334,221.604,196.061,253.399,185.472z"/>
        </g>
    </g>
</svg>