content-slider-navigation {
    display: block;
}

.content-slider-navigation {
    display: flex;
    justify-content: center;

    &__item {
        background-color: #ccc;
        border-radius: 8px;
        height: 15px;
        width: 15px;
        margin-right: 25px;
        cursor: pointer;

        &--active {
            background-color: green;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
