content {
  display: block;
}

.content {
  width: 100%;


  &__body {
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    height: 177px;
  }

  &__slider {
    cursor: default!important;
    height: 100%;

    > div {
        width: 5888px;
    }
  }

  &__slide {
    height: 100%;
  }

  &__slide-body {
    margin: 7px 35px 5px;
    background: #fff;
    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__image {
    max-height: 100px;
    object-fit: cover;
    background-position: center bottom;
    background-size: cover;
    width: 100px;
  }

  &__name {
    font-size: 16px;
    color: #575757;
    width: 100px;
    text-align: center;
    margin-top: 5px;
  }

  &__quote {
    position: relative;
    background: #ecf7fd;
    padding: 20px;
    line-height: 22px;
    border-radius: 5px;
    color: #005ea8;
    width: 390px;
    height: 63px;
    margin: 12px 10px 0 35px;
    display: flex;
    align-self: flex-start;
    flex: 1;

    &::after {
      right: 100%;
      top: 35px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: #fff;
      border-right-color: #ecf7fd;
      border-width: 15px;
      margin-top: -15px;
    }
  }

  &__button {
    white-space: normal;
    line-height: 14px;
    width: 100px;
    font-size: 13px;
    padding: 0 15px;
    color: #005ea8;
    background: #fff;
    border: 1px solid #005ea8;
    min-width: 95px;
    height: 40px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
  }

  &__slide-footer {
    position: relative;
    width: 100%;
  }

  &__footer-list-group {
    display: flex;
    height: 32px;
    margin: 0 80px 0 0;
    padding: 0 10px;
    justify-content: space-between;
    list-style: none;
  }

  &__footer-list {
    flex: 1;
  }

  &__phone {
    font-size: 14px;
    color: #005ea8;
  }

  &__subtext {
    font-size: 12px;
    color: #999;
    padding-top: 2px;
    line-height: 12px;
  }

  &__footer {
    height: 0;
    display: inline;
  }

  &__footer-content-button {
    position: absolute;
    bottom: 10px;
    background: #fff;
    width: 80px;
    z-index: 10;
    color: #005ea8;
    cursor: pointer;
    text-align: right;
    display: flex;
    right: 10px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
  }

  &__more {
    flex: 1;
    align-self: flex-end;
    margin-right: 5px;
    width: 55px;
    text-align: right;
    font-size: 12px;
  }

  &__more-icon {
    width: 15px;
    height: 15px;
    fill: #005ea8;
    align-self: flex-end;
    transform: rotate(180deg) translateY(-2px);

    &--down {
      transform: rotate(0deg) translateY(0);
    }
  }

  &__extra-content-wrapper {
    border-top: 1px solid #ddd;
    padding: 30px 15px 10px;
  }

  &__row-footer {
    overflow-y: hidden;
    height: 411px;

    &.ng-hide {
      height: 0;
    }

    &.ng-hide-add,
    &.ng-hide-remove {
      transition: all linear 0.2s;
    }
  }

  &__close-slide-area {
    margin: -25px -6px 0 0;
    float: right;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  &__extra-content-headline,
  &__extra-content-header {
    font-size: 16px;
    color: #005ea8;
    margin-top: -4px;
  }

  &__slider-button {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 50%;
    display: block;
    width: 27px;
    height: 44px;
    fill: #dcdcdc;

    &--next {
      margin: -22px -12px 0 0;
      right: 12px;
      left: auto;
    }

    &--prev {
      margin: -22px 0 0 -12px;
      left: 12px;
      right: auto;
      transform: rotate(180deg);
    }
  }

}
