<div class="content">
    <div class="content__body">
        <div class="content__slider">
            <div class="content__slide" ng-repeat="item in $ctrl.data">
                <div class="content__slide-body">
                    <div class="content__info">
                        <img
                            class="content__image"
                            ng-src="{{ item.photo }}">
                        <div class="content__name">
                            {{ item.firstname }}
                        </div>
                    </div>
                    <div class="content__quote">
                        {{ item.quote }}
                    </div>
                    <div class="content__cta-button">
                        <a
                            class="content__button"
                            data-modal-target="expert-overlay"
                            data-ng-click="consultant.onExpertOverlayOpen(consultantItem)">
                            Rückruf anfordern&nbsp;»
                        </a>
                    </div>
                </div>
                <div class="content__slide-footer">
                    <ul class="content__footer-list-group">
                        <li class="content__footer-list">
                            <div class="content__phone">
                                0555 12345 {{ item.phone }}
                            </div>
                            <div class="content-subtext">
                                Ich bin persönlich für Sie da
                            </div>
                        </li>
                        <li class="content__footer-list">
                            <div class="content__job">
                                CHECK24-Kundenberater
                            </div>
                            <div class="content__languages">
                                Deutsch, Türkisch
                            </div>
                        </li>
                        <li class="content__footer-list">
                            <span class="content__job">
                                seit 8  Jahren Experte
                            </span>
                            <br>
                            <div class="content__subtext">
                                für Private Krankenversicherung
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div
            class="content__slider-button content__slider-button--next"
            ng-click="$ctrl.onNextClicked()">
            <slider-arrow></slider-arrow>
        </div>
        <div
            class="content__slider-button content__slider-button--prev"
            ng-click="$ctrl.onPrevClicked()">
            <slider-arrow></slider-arrow>
        </div>
        <div class="content__footer-content-button" ng-click="$ctrl.onFooterButtonClicked()">
            <div class="content__more">
                {{ $ctrl.showFooterContent ? 'schließen' : 'mehr' }}
            </div>
            <div class="content__more-icon" ng-class="{ 'content__more-icon--down': $ctrl.showFooterContent }">
                <caret-icon></caret-icon>
            </div>
        </div>
    </div>
    <div class="content__footer">
        <div class="content__row-footer" ng-show="$ctrl.showFooterContent">
            <div class="content__extra-content-wrapper">
                <span class="content__close-slide-area" ng-click="$ctrl.closeFooterContent()">x</span>
                <div class="content__extra-content-header">
                    Persönliche Beratung bei CHECK24
                </div>
                <p>Einfacher als bei uns können Sie Ihre private Krankenversicherung nirgendwo sonst abschließen. Wir
                    beraten Sie individuell und gehen auf Ihre speziellen Bedürfnisse und Fragen ein. „Wir“ - das ist
                    ein Beraterteam von über 25 Experten für Private Krankenversicherung an unseren
                    Versicherungsstandorten München und Hamburg.</p>
                <div class="content__extra-content clearfix">
                    <h2 class="content__extra-content-headline">
                        Kompetente Beratung von Spezialisten
                    </h2>
                    <p class="content__extra-content-infotext">
                        Wir sind ausgebildete Versicherungskaufleute und –experten, verfügen über jahrelange Erfahrung
                        im Bereich der privaten Krankenversicherungen und beraten unsere Kunden ausschließlich zu diesem
                        Thema.
                    </p>
                </div>
                <div class="content__extra-content clearfix">
                    <h2 class="content__extra-content-headline">
                        Kostenfrei und ohne Risiko </h2>
                    <p class="content__extra-content-infotext">
                        Selbstverständlich ist unser Beratungsservice für Sie völlig unverbindlich und kostenfrei
                        – ohne Wenn und Aber!
                    </p>
                </div>
                <div class="content__extra-content clearfix">
                    <h2 class="content__extra-content-headline">
                        Täglich 12 Stunden Zeit für Ihre Anliegen </h2>
                    <p class="content__extra-content-infotext">
                        Wir sind Montag bis Freitag von 8 bis 20 Uhr für Sie telefonisch erreichbar. Beratung machen wir
                        auch zu Ihrem Wunschtermin. </p>
                </div>
                <div class="content__extra-content clearfix">
                    <h2 class="content__extra-content-headline">
                        Moderne Technik für optimale Beratung </h2>
                    <p class="content__extra-content-infotext">
                        Wir beraten Sie bequem per Telefon. Wenn Sie möchten, teilen unsere Berater sogar den Bildschirm
                        mit Ihnen. So werden die unterschiedlichen Tarife schnell verständlich. </p>
                </div>
            </div>
        </div>
    </div>
</div>
